body {
  color: #333;
  padding-bottom: 45px;
}

.title-logged-out {
  margin-top: 75px;
  font-size: 55px;
}

button {
  cursor: pointer;
}
.movement-selector button {
  transition: all .2s ease;
}
.movement-selector button:not(.checked):hover {
  background: rgba(246, 163, 33, 0.5);;
}
.movement-selector .checked {
  background: #F6A321;
}

.quick-numbers button,
.movement-selector button {
  border-radius:50px;
  padding:10px;
  background: none;
  border: none;
}

.date {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  margin-top: 40px;
}

h2 {
  font-size: 22px;
  text-align: center;
}

.submit-button {
  width:175px;
  height:50px;
  border-radius:5px;
  border:none;
  margin:20px 0 0;
  background: #005A8E;
  font-size:22px;
  color:#fff;
  margin: 5px auto 0;
  display:block;
}

.num {
  width:100px;
  display:block;
  margin: 20px auto;
}
.qty {
  width:100%;
  font-size:26px;
  text-align: center;
  padding:12px 0;
  border-radius: 5px;
  background: #F6A321;
  border: none;
}

.quick-numbers {
  text-align: center;
  margin: 0 0 25px;
  font-size:22px;
}

.quick-number button {
  font-style: italic;
}

.movement-selector {
  text-align: center;
}

.movement-selector button {
  display: inline;
  margin:0 5px 50px;
}

.movement-selector button img {
  width: 40px;
}

.bottom {
  position: fixed;
  bottom: 0;
}

.nav-tabs.bottom {
  width: 100%;
  background: rgb(221, 221, 221);
}

.nav-tabs li {
  font-size: 18px;
}
