/* CSS declarations go here */
button {
  cursor: pointer;
}
.movement-selector button {
  transition: all .2s ease;
}
.movement-selector button:hover {
  background: rgba(161, 255, 148, .6);
}
.checked {
  background: rgb(161, 255, 148);
}

button {
  border-radius:50px;
  padding:10px;
  background: none;
  border: none;
}
